@page
@model data_medical_softwere.Pages.Divisions.IndexModel
@{
    ViewData["Title"] = "Divisions List";
}

<h2>Divisions</h2>

<a class="btn btn-primary mb-3" asp-page="/Groups/Create">Create New Divisions</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Divisions)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Name</td>
            </tr>
        }
    </tbody>
</table>
